<div class="overlay overlay--mazlo">
  <div class="overlay__content">
    <img src="<%= image_url('close.svg') %>" alt="" class="overlay__close js-close-overlay">
    <div class="overlay__image">
      <img src="<%= image_url('mazlo_iphone6.png') %>" alt="">
    </div>
    <div class="overlay__text">
      <img class="overlay__logo overlay__logo--mazlo" src="<%= image_url('mazlo.png') %>" alt="">
      <div class="overlay__details">
        <h6>Project: Mazlo Application</h6>
        <h6>Role: Full-stack Web Developer</h6>
        <h6>Website: www.mazlo.me</h6>
      </div>
      <h6 class="overlay__technologies-header">Technologies Used:</h6>
      <div class="overlay__technologies">
        <h6>HTML/CSS/Javascript</h6>
        <h6>Backbone/Marionette</h6>
        <h6>Ruby on Rails 5</h6>
        <h6>ActionCable</h6>
        <h6>Turbolinks-iOS</h6>
        <h6>PostgreSQL/Redis</h6>
        <h6>Heroku</h6>
      </div>
    </div>
  </div>
</div>
