<div class="overlay overlay--mazlo">
  <div class="overlay__content">
    <img src="<%= image_url('close.svg') %>" alt="" class="overlay__close js-close-overlay">
    <div class="overlay__header">
      <img class="overlay__logo overlay__logo--mazlo" src="<%= image_url('mazlo.png') %>" alt="">
    </div>
    <div class="overlay__body">
      <div class="overlay__image">
        <img src="<%= image_url('mazlo_iphone6.png') %>" alt="">
      </div>
      <div class="overlay__text">
        <div class="overlay__details">
          <h6 class="type-black">Project: Mazlo Application</h6>
          <h6 class="type-black">Role: Full-stack Web Developer</h6>
          <h6 class="type-black">Website: www.mazlo.me</h6>
        </div>
        <h6 class="overlay__technologies-header">Technologies Used:</h6>
        <div class="overlay__technologies">
          <h6 class="type-gray">HTML/CSS/Javascript</h6>
          <h6 class="type-gray">Backbone/Marionette</h6>
          <h6 class="type-gray">Ruby on Rails 5</h6>
          <h6 class="type-gray">ActionCable</h6>
          <h6 class="type-gray">Turbolinks-iOS</h6>
          <h6 class="type-gray">PostgreSQL/Redis</h6>
          <h6 class="type-gray">Heroku</h6>
        </div>
      </div>
    </div>
  </div>
</div>
