<div class="overlay overlay--ralli">
  <div class="overlay__content">
    <img src="<%= image_url('close.svg') %>" alt="" class="overlay__close js-close-overlay">
    <div class="overlay__image">
      <img src="<%= image_url('ralli_iphone6.png') %>" alt="">
    </div>
    <div class="overlay__text">
      <img class="overlay__logo overlay__logo--ralli" src="<%= image_url('goralli_black.png') %>" alt="">
      <div class="overlay__details">
        <h6>Project: Ralli Task Managment Application</h6>
        <h6>Role: React/Rails and Front-end Developer</h6>
        <h6>Website: ralli.herokuapp.com</h6>
      </div>
      <h6 class="overlay__technologies-header">Technologies Used:</h6>
      <div class="overlay__technologies">
        <h6>HTML/CSS/Javascript</h6>
        <h6>Ruby on Rails 5</h6>
        <h6>ReactJS/Rails-React</h6>
        <h6>Heroku</h6>
      </div>
    </div>
  </div>
</div>
