<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message from Site User</h1>
    <h2>Name: <%= @sender_name %></h2>
    <h2>Email: <%= @sender_email %></h2>
    <p>Message: <%= @body %></p>
  </body>
</html>
