@import 'variables/colors'
@import "variables/dimensions"

body
  font-family: 'Helvetica Neue', sans-serif
  background-color: #f7f7f7

.type-black
  color: $black

.type-gray
  color: $gray

.type-white
  color: $white

h1
  color: $white
  font-size: 4rem
  font-weight: 200
  letter-spacing: 0.25rem

  +media-tablet
    font-size: 5rem

h3
  color: $blue
  font-size: 2rem
  font-weight: 200
  letter-spacing: 4px

p
  font-size: 18px
  font-weight: 200
  color: $white
  letter-spacing: 1px
