<div class="covered container">
  <h2 class="container__header">About</h2>
  <div class="container__content">
    <div class="container__content-column container__content-column--center container__content-column--about">
      <h6 class="type-black">
        Hello! My name is Ted and I’m a developer in Seattle, WA.
      </h6>
      <h6 class="type-black">
        I’m a full-stack developer with a special interested in the front-end.
      </h6>
      <h6 class="type-black">
        When I’m not jamming away on a side project, you can find me in a classroom learning more about design/development, a yoga studio, or teaching others how to code! :D
      </h6>
    </div>
  </div>
  <i class="triangle triangle__top triangle__top--black"></i>  
  <i class="triangle triangle__bottom triangle__bottom--black"></i>  
</div>
