<div class="covered covered--blue container">
  <div class="container__wrapper">
    <h3 class="container__header">Contact</h3>
    <div class="container__content-row container__content-row--contact">
      <div class="container__content-column container__content-column--center">
        <a href="mailto:twhang.dev@gmail.com">Email: twhang.dev@gmail.com</a>
        <a href="http://www.linkedin.com/in/tedwhang">LinkedIn: linkedin.com/in/tedwhang</a>
        <a href="http://www.github.com/tywhang">Github: github.com/tywhang</a>
      </div>
    </div>
  </div>
</div>
