<div class="open open--tinted container">
  <h3 class="container__header">Contact</h3>
  <div class="container__content-row container__content-row--contact">
    <div class="container__content-column container__content-column--center">
      <h6>twhang.dev@gmail.com</h6>
      <h6>linkedin.com/in/tedwhang</h6>
      <h6>github.com/tywhang</h6>
    </div>
  </div>
  <i class="triangle triangle__top triangle__top--black"></i>
</div>
