<div class="covered container">
  <div class="container__wrapper">
    <h2 class="container__header">Education</h2>
    <div class="container__content">
      <div class="container__content-row">
        <div class="container__content-column container__content-column--small">
          <img src="<%= image_url('seattleu_logo.png') %>" alt="Washington" class="container__image container__image--washington">
        </div>
        <div class="container__content-column container__content-column--large">
          <h4>Seattle University</h4>
          <h5>Masters of Software Engineering</h5>
          <h5>In Progress | Seattle, WA</h5>
        </div>
      </div>
      <div class="container__content-row">
        <div class="container__content-column container__content-column--small">
          <img src="<%= image_url('washington_logo.png') %>" alt="Washington" class="container__image container__image--washington">
        </div>
        <div class="container__content-column container__content-column--large">
          <h4>University of Washington - Seattle</h4>
          <h5>Bachelors of Science in Psychology</h5>
          <h5>Spring 2012 | Seattle, WA</h5>
        </div>
      </div>
      <div class="container__content-row">
        <div class="container__content-column container__content-column--small">
          <img src="<%= image_url('coding_dojo.png') %>" alt="Coding Dojo" class="container__image container__image--coding-dojo">
        </div>
        <div class="container__content-column container__content-column--large">
          <h4>Coding Dojo</h4>
          <h5>Web Development Bootcamp</h5>
          <h5>Spring 2014 | Bellevue, WA</h5>
        </div>
      </div>
      <div class="container__content-row">
        <div class="container__content-column container__content-column--small">
          <img src="<%= image_url('svc.png') %>" alt="School of Visual Concepts" class="container__image container__image--svc">
        </div>
        <div class="container__content-column container__content-column--large">
          <h4>School of Visual Concepts</h4>
          <h5>Graphic Design, User Experience Design</h5>
          <h5>Winter 2016 | Seattle, WA</h5>
        </div>
      </div>
    </div>
  </div>
</div>
