<div class="covered container">
  <div class="container__wrapper">
    <div class="container__header">
      <h3 class="type-black">Projects</h3>
      </div>
    <div class="projects">
      <div class="projects__item js-show-overlay--ralli">
        <img src="<%= image_url('goralli.png') %>" alt="Ralli" class="projects__image projects__image--ralli">
      </div>
      <div class="projects__item js-show-overlay--mazlo">
        <img src="<%= image_url('mazlo_light.png') %>" alt="Mazlo" class="projects__image projects__image--mazlo">
      </div>
      <div class="projects__item js-show-overlay--muzik">
        <img src="<%= image_url('muzik_chat.png') %>" alt="Muzik Chat" class="projects__image projects__image--muzik">
      </div>
    </div>
  </div>
</div>
