<div class="open open--tinted container">
  <div class="container__wrapper">
    <div class="container__header">
      <h1>Ted Whang</h1>
      <h6>Full-Stack Web Developer</h6>
      <h6>Specializing in Rails/React/UI Development</h6>
    </div>
  </div>
</div>
