<div class="open open--tinted container title">
  <div class="container__wrapper">
    <div class="container__header">
      <h1>Ted Whang</h1>
      <h5 class="type-white">Full-Stack Web Developer</h5><br />
      <h6>with a special interest in:</h6>
      <h6>Rails/React/UI Development</h6>
    </div>
  </div>
</div>
