<div class="open open--tinted container">
  <div class="container__text">
    <h1>Ted Whang</h1>
    <h6>UI/UX Designer | Full-Stack Web Developer</h6>
  </div>
  <i class="triangle triangle__bottom triangle__bottom--black"></i>  
</div>
