<div class="open open--tinted container">
  <div class="container__wrapper">
    <div class="container__header">
      <h1>Ted Whang</h1>
      <h6>UI/UX Designer | Full-Stack Web Developer</h6>
    </div>
  </div>
</div>
