<div class="covered container covered--blue">
  <div class="container__wrapper">
    <h3 class="container__header">Work Experience</h3>
    <div class="container__content">
      <div class="container__content-row">
        <div class="container__content-column container__content-column--small">
          <img src="<%= image_url('mazlo_light.png') %>" alt="Mazlo" class="container__image container__image--mazlo">
        </div>
        <div class="container__content-column container__content-column--large">
          <h3 class="type-white">Software Engineer</h3>
          <h5 class="type-white">Mazlo</h5>
          <h5 class="type-white">August 2014 - Present | Seattle, WA</h5>
          <h5 class="type-white"><strong>Technologies Used:</strong></h5>
          <h5 class="type-white">
            Ruby on Rails<br />
            BackboneJS/MarionetteJS<br />
            ReactJS<br />
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
