<div class="covered container covered--blue">
  <h3 class="container__header">Work Experience</h3>
  <div class="container__content">
    <div class="container__content-row">
      <div class="container__content-column container__content-column--small">
        <img src="<%= image_url('mazlo_light.png') %>" alt="Mazlo" class="container__image container__image--mazlo">
      </div>
      <div class="container__content-column container__content-column--large">
        <h4 class="type-white">Full-Stack Software Engineer</h4>
        <h5 class="type-white">Mazlo</h5>
        <h5 class="type-white">August 2014 - Present | Seattle, WA</h5>
      </div>
    </div>
  </div>
  <i class="triangle triangle__top triangle__top--gray"></i>
  <i class="triangle triangle__bottom triangle__bottom--gray"></i>
</div>
