<div class="header-container black-overlay">
  <img src="<%= image_url('notepad.jpg') %>" alt="" class="header-image">
  <div class="header-text">
    <h2>BLOG</h2>
  </div>
</div>
<div class="body-container">
  <p>Being a <strong>Software Engineer</strong> with a background in <em>Psychology</em> and <em>Sales</em>, I’m in a unique position to address topics where the subjects collide.</p>
  <p>Most of my articles are about psychology and the learning curve of software engineering.</p>
  <p>Find me on <a href="https://medium.com/@tywhang" target="_blank">Medium</a></p>
  <p>Guest post on <a href="https://www.coursereport.com/blog/why-you-should-blog-every-day-at-a-coding-bootcamp" target="_blank">Course Report</a></p>
  <p>My most popular blog about <a href="http://teds-coding-dojo-experience.blogspot.com/" target="_blank">Coding Dojo</a></p>
</div>
