<div class="header-container black-overlay">
  <img src="<%= image_url('notepad.jpg') %>" alt="" class="header-image">
  <div class="header-text">
    <h2>BLOG</h2>
  </div>
</div>
<div class="body-container">
</div>
