<div class="blog-container">
  <div class="header-container black-overlay">
    <img src="<%= image_url('notepad.jpg') %>" alt="" class="header-image">
    <div class="header-text">
      <h2>BLOG</h2>
    </div>
  </div>
  <div class="body-container">
    <div class="overview-container blog-list-container">
      <p>Being a <strong>Software Engineer</strong> with a background in <em>Psychology</em> and <em>Sales</em>, I’m in a unique position to address topics where the subjects collide.</p>
      <p>Most of my articles are about psychology and the learning curve of software engineering.</p>
    </div>
    <div class="blog-list-container">
      <h2 class="blog-list-header">Blog Posts</h2>
      <div class="row">
        <div class="col-sm-5">
          <p>Guest blog post featured on Course Report</p>
          <div class="button-container">
            <a class="black-link" href="https://www.coursereport.com/blog/why-you-should-blog-every-day-at-a-coding-bootcamp" target="_blank">View Post</a>
          </div>
        </div>
        <div class="col-sm-7">
          <img src="<%= image_url('coursereportheader.png') %>" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <p>My most famous blog post where I documented every day about my coding bootcamp experience</p>
          <div class="button-container">
            <a class="black-link" href="http://teds-coding-dojo-experience.blogspot.com/" target="_blank">View Blog</a>
          </div>
        </div>
        <div class="col-sm-7">
          <img src="<%= image_url('codingdojoheader.png') %>" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <p>Follow me on Medium!</p>
          <div class="button-container">
            <a class="black-link" href="https://medium.com/@tywhang" target="_blank">View Profile</a>
          </div>
        </div>
        <div class="col-sm-7">
          <img src="<%= image_url('mediumheader.png') %>" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
