<div id="blogger" class="blogger-body-container">
  <div class="blogger-image body-image">
    <h2 class="header-text">Blogger</h2>
  </div>

  <div class="body-inner-container">
    <p>This is the blog that started everything off.</p>

    <p>This blog has never been edited</p>
    <p>You can find the original <a href="http://teds-coding-dojo-experience.blogspot.com">here</a></p>
  </div>
</div>
