<div class="contact-container">
  <div class="header-container black-overlay">
    <img src="<%= image_url('contact.jpg') %>" alt="" class="header-image">
    <div class="header-text single-line">
      <h2></h2>
    </div>
  </div>
  <div class="body-container row">
    <div class="col-sm-6 form-container">
      <form>
        <div class="form-group">
          <label for="sender_name">Name</label>
          <input type="text" name="sender_name" id="sender_name" class="form-control js-sender-name">
        </div>
        <div class="form-group">
          <label for="sender_email">Email</label>
          <input type="text" name="sender_email" id="sender_email" class="form-control js-sender-email">
        </div>
        <div class="form-group">
          <label for="body">Message</label>
          <textarea class="form-control js-email-body" name="body" cols="30" rows="10" id="body"></textarea>
        </div>
        <div class="button-container">
          <button class="black-link js-send-email" type="button">Send Message</button>
        </div>
      </form>
    </div>
    <div class="col-sm-6 contact-info-container">
      <div class="contact-inner-container">
        <div class="contact-info">
          <p><strong>Ted Whang</strong></p>
          <p>twhang.dev@gmail.com</p>
          <p>Currently in Seattle, WA</p>
        </div>
        <img src="<%= image_url('seattle.jpg') %>" alt="">
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "typing_animation" %>
