<div class="header-container">
  <nav class="navbar">
    <ul class="nav navbar-nav">
      <li class="home-link"><a href="#">Ted Whang</a></li>
      <li><a href="#developer">Developer</a></li>
      <li><a href="#blogger">Blogger</a></li>
      <li><a href="#yogi">Yogi</a></li>
      <li><a href="https://github.com/tywhang" class="mega-octicon octicon-mark-github"></a></li>
      <li><a href="https://www.linkedin.com/in/tedwhang" class="fa fa-linkedin"></a></li>
    </ul>
  </nav>
  <div class="jumbotron header-image">
    <div class="header-text">
      <h2>Full-Stack</h2>
      <h2>Web Developer</h2>
      <h2>Seattle, WA</h2>
    </div>
  </div>
</div>
<div class="header-body-container">
  <h2>About Me</h2>

  <img src="<%= image_url('atdesk.jpg') %>" alt="">
</div>

<div class="developer-body-container">
  <img src="<%= image_url('code.jpg') %>" alt="">

  <h2 class="header-text">Developer</h2>

  <div class="language-section">
    <h3 class="col-sm-4 col-sm-offset-2">Front-end Languages</h3>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-less-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <i class="devicon-jquery-plain-wordmark colored"></i>
  </div>

  <div class="language-section">
    <h3 class="col-sm-4 col-sm-offset-2">Front-end Frameworks</h3>
    <i class="devicon-angularjs-plain-wordmark colored"></i>
    <i class="devicon-backbonejs-plain-wordmark colored"></i>
  </div>

  <div class="language-section">
    <h3 class="col-sm-4 col-sm-offset-2">Back-end Languages</h3>
    <i class="devicon-ruby-plain-wordmark colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-coffeescript-original colored"></i>
    <i class="devicon-php-plain colored"></i>
  </div>

  <div class="language-section">
    <h3 class="col-sm-4 col-sm-offset-2">Back-end Frameworks</h3>
    <i class="devicon-codeigniter-plain colored"></i>
    <i class="devicon-rails-plain-wordmark colored"></i>
  </div>

  <div class="language-section">
    <h3 class="col-sm-4 col-sm-offset-2">Databases</h3>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <i class="devicon-redis-plain colored"></i>
  </div>

  <div class="language-section">
    <h3 class="col-sm-4 col-sm-offset-2">Other</h3>
    <i class="devicon-bootstrap-plain colored"></i>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-heroku-line-wordmark colored"></i>
  </div>
</div>

<div class="blogger-body-container">
  <img src="<%= image_url('notepad.jpg') %>" alt="">
</div>

<div class="yogi-body-container">
  <img src="<%= image_url('girlonwater.jpg') %>" alt="">
</div>

<footer class="home-page-footer">
  <ul>
    <li><a href="https://github.com/tywhang" class="mega-octicon octicon-mark-github"></a></li>
    <li><a href="https://www.linkedin.com/in/tedwhang" class="fa fa-linkedin"></a></li>
    <li><p class="footer-name">&#174; 2015 Ted Whang</p></li>
  </ul>
</footer>
