<div class="header-container">
  <nav class="navbar">
    <ul class="nav navbar-nav">
      <li class="home-link"><a href="#">Ted Whang</a></li>
      <li><a href="#developer">Developer</a></li>
      <li><a href="#blogger">Blogger</a></li>
      <li><a href="#yogi">Yogi</a></li>
      <li><a href="https://github.com/tywhang" class="mega-octicon octicon-mark-github"></a></li>
      <li><a href="https://www.linkedin.com/in/tedwhang" class="fa fa-linkedin"></a></li>
    </ul>
  </nav>
  <div class="jumbotron header-image">
    <div class="header-text">
      <h2>Full-Stack</h2>
      <h2>Web Developer</h2>
      <h2>Seattle, WA</h2>
    </div>
  </div>
</div>
<div class="header-body-container">
  <h2>About Me</h2>
  <p>Hello! Thanks for visiting my site!</p>
  <p>My name is Ted Whang and I'm currently a software enginner at a startup called Mazlo.</p>
  <img src="<%= image_url('atdesk.jpg') %>" alt="">
</div>

<div id="developer" class="developer-body-container">
  <div class="developer-image">
    <h2 class="header-text">Developer</h2>
  </div>

  <div class="body-inner-container">
    <p>Although I am a full-stack developer and feel comfortable with all aspects of development, my interests are skewed towards front-end UX. Currently my skills are limited to web development, however next year I am scheduled to take courses on mobile development and UX design.</p>

    <div class="language-section-container">
      <div class="language-section">
        <h3 class="col-sm-5">Front-end Languages</h3>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <i class="devicon-less-plain-wordmark colored"></i>
        <i class="devicon-sass-original colored"></i>
        <i class="devicon-jquery-plain-wordmark colored"></i>
      </div>

      <div class="language-section">
        <h3 class="col-sm-5">Front-end Frameworks</h3>
        <i class="devicon-angularjs-plain-wordmark colored"></i>
        <i class="devicon-backbonejs-plain-wordmark colored"></i>
      </div>

      <div class="language-section">
        <h3 class="col-sm-5">Back-end Languages</h3>
        <i class="devicon-ruby-plain-wordmark colored"></i>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-coffeescript-original colored"></i>
        <i class="devicon-php-plain colored"></i>
      </div>

      <div class="language-section">
        <h3 class="col-sm-5">Back-end Frameworks</h3>
        <i class="devicon-codeigniter-plain colored"></i>
        <i class="devicon-rails-plain-wordmark colored"></i>
      </div>

      <div class="language-section">
        <h3 class="col-sm-5">Databases</h3>
        <i class="devicon-mongodb-plain-wordmark colored"></i>
        <i class="devicon-mysql-plain-wordmark colored"></i>
        <i class="devicon-postgresql-plain-wordmark colored"></i>
        <i class="devicon-redis-plain colored"></i>
      </div>

      <div class="language-section">
        <h3 class="col-sm-5">Other</h3>
        <i class="devicon-bootstrap-plain colored"></i>
        <i class="devicon-git-plain colored"></i>
        <i class="devicon-heroku-line-wordmark colored"></i>
      </div>
    </div>
  </div>
</div>

<div id="blogger" class="blogger-body-container">
  <div class="blogger-image">
    <h2 class="header-text">Blogger</h2>
  </div>

  <div class="body-inner-container">
    <p>I'm in the process of developing a website called ZeroToBootcamp which serves as a resource for those that are trying to pursue a career in development.</p>
    <p>Over the course of a year I've personally helped hundreds of people enter the field of web development and I've helped thousands through my blog posts.</p>
  </div>
</div>

<div id="yogi" class="yogi-body-container body-container">
  <div class="yogi-image">
    <h2 class="header-text">Yogi</h2>
  </div>
  <div class="body-inner-container">
    <p>My two passions in life are technology and fitness.</p>
    <p>Originally a marathoner and triathlete, I suffered from chronic injuries due to the nature of the sport.</p>
    <p>This is when I found yoga. I initially practiced yoga as a way to stay fit and healthy while reducing the amount of injuries.</p>
    <p>However yoga has now become an integral part of my life and I'm currently taking the next steps to becoming a yoga instructor.</p>
  </div>
</div>

<footer class="home-page-footer">
  <ul>
    <li><a href="https://github.com/tywhang" class="mega-octicon octicon-mark-github"></a></li>
    <li><a href="https://www.linkedin.com/in/tedwhang" class="fa fa-linkedin"></a></li>
    <li><p class="footer-name">&#174; 2015 Ted Whang</p></li>
  </ul>
</footer>
