<div class="header-container">
  <div class="jumbotron header-image">
    <div class="header-text">
      <h2>Full-Stack</h2>
      <h2>Web Developer</h2>
      <h2>Seattle, WA</h2>
    </div>
  </div>
</div>
<div class="header-body-container">
  <h2>About Me</h2>
  <p>Hello! Thanks for visiting my site!</p>
  <p>You probably know me through my <a href="http://teds-coding-dojo-experience.blogspot.com/">blog about Coding Dojo</a> where I meticulously described in detail my experiences during the bootcamp.</p>
  <p>Currently I am working on a project called <a href="http://www.zerotobootcamp.com">ZeroToBootcamp</a> where I hope to teach prospective students the system of becoming successful in a bootcamp environment.</p>
</div>