<div class="container top">
  <h1>Ted Whang</h1>
  <p>Full-stack Software Engineer</p>
  <p>Seattle, WA</p>

  <a target="_blank" href="/Ted%20Whang%20-%20Resume.pdf" class="blue-button">
    <p>View Resume</p>
  </a>

</div>
<div class="container bottom">
  <h3>Site under heavy construction...</h3>
</div>
