<div class="header-container black-overlay">
  <img src="<%= image_url('main_desk_shot.jpg') %>" alt="" class="header-image">
  <div class="header-text root-header">
    <h2>DESIGN</h2>
    <h2>DEVELOP</h2>
    <h2>TEST</h2>
    <h2>ITERATE</h2>
  </div>
</div>
<div class="body-container">
  <h2>A Short Bio</h2>
  <p>A full stack web developer whose interests have progressively leaned toward the front-end. I’m in my element when I’m collaborating in a team to address the most important element in any project, an <strong>excellent user experience</strong>.</p>

  <p>Thanks for visiting! My site is still under some development. Feel free to click some links to find out more about me. :D</p>
</div>
