<div class="open container">
  <div class="text-container text-container__left">
    <h3>Ted Whang</h3>
    <h6>UI/UX Designer</h6>
    <h6>Full-Stack Web Developer</h6>
  </div>
  <i class="triangle triangle__bottom triangle__bottom--black"></i>
</div>
<div class="covered container">
  <h2 class="container__header">Work Experience</h2>
  <div class="container__content">
    <div class="container__content-row">
      <div class="container__content-column container__content-column--small">
        <img src="<%= image_url('mazlo.png') %>" alt="Mazlo" class="container__image container__image--mazlo">
      </div>
      <div class="container__content-column container__content-column--large">
        <h4>Full-Stack Software Engineer</h4>
        <h5>Mazlo</h5>
        <h5>August 2014 - Present | Seattle, WA</h5>
      </div>
    </div>
  </div>
  <i class="triangle triangle__top triangle__top--gray"></i>
  <i class="triangle triangle__bottom triangle__bottom--gray"></i>
</div>
<div class="open container">
  <div class="text-container text-container text-container__right">
    <h3>Projects</h3>
  </div>
  <i class="triangle triangle__top triangle__top--black"></i>
</div>

<div class="covered container">
  <h2 class="container__header">Education</h2>
  <div class="container__content">
    <div class="container__content-row">
      <div class="container__content-column container__content-column--small">
        <img src="<%= image_url('washington_logo.png') %>" alt="Washington" class="container__image container__image--washington">
      </div>
      <div class="container__content-column container__content-column--large">
        <h4>University of Washington - Seattle</h4>
        <h5>Bachelors of Science - Psychology</h5>
        <h5>Spring 2012 | Seattle, WA</h5>
      </div>
    </div>
    <div class="container__content-row">
      <div class="container__content-column container__content-column--small">
        <img src="<%= image_url('coding_dojo.png') %>" alt="Coding Dojo" class="container__image container__image--coding-dojo">
      </div>
      <div class="container__content-column container__content-column--large">
        <h4>Coding Dojo</h4>
        <h5>Web Development Bootcamp</h5>
        <h5>Spring 2014 | Bellevue, WA</h5>
      </div>
    </div>
    <div class="container__content-row">
      <div class="container__content-column container__content-column--small">
        <img src="<%= image_url('svc.png') %>" alt="School of Visual Concepts" class="container__image container__image--svc">
      </div>
      <div class="container__content-column container__content-column--large">
        <h4>School of Visual Concepts</h4>
        <h5>Graphic Design, User Experience Design</h5>
        <h5>Winter 2016 | Seattle, WA</h5>
      </div>
    </div>
  </div>
  <i class="triangle triangle__top triangle__top--gray"></i>
  <i class="triangle triangle__bottom triangle__bottom--gray"></i>
</div>

<div class="open open--tinted container">
  <h3 class="container__header">Contact</h3>
  <div class="container__content-row">
    <div class="container__content-column container__content-column--large">
      <h6>twhang.dev@gmail.com</h6>
      <h6>linkedin.com/in/tedwhang</h6>
      <h6>github.com/tywhang</h6>
    </div>
  </div>
  <i class="triangle triangle__top triangle__top--black"></i>
</div>
