<div class="header-container">
  <div class="jumbotron header-image">
    <div class="header-text">
      <h2>Full-Stack</h2>
      <h2>Web Developer</h2>
      <h2>Seattle, WA</h2>
    </div>
  </div>
</div>
<div class="body-container">
  <h2>A Short Bio</h2>
  <p>A full stack web developer whose interests have progressively leaned toward the front-end. I’m in my element when I’m collaborating in a team to address the most important element in any project, an excellent user experience.</p>
</div>
