<div class="open container">
  <div class="text-container text-container__left">
    <h3>Ted Whang</h3>
    <h6>UI/UX Designer</h6>
    <h6>Full-Stack Web Developer</h6>
  </div>
</div>
<div class="covered container">
  <h2 class="container__header">Work Experience</h2>
  <div class="covered__content">
    <div class="covered__content-row">
      <div class="covered__content-column">
        <h4>Full-Stack Software Engineer</h4>
        <h5>Mazlo</h5>
        <h5>August 2014 - Present | Seattle, WA</h5>
      </div>
      <div class="covered__content-column">
        <img src="<%= image_url('mazlo.png') %>" alt="Mazlo">
      </div>
    </div>
  </div>
</div>
<div class="open container">
  <div class="text-container text-container text-container__right">
    <h3>Projects</h3>
  </div>
</div>

<div class="covered container">
  <h2 class="container__header">Education</h2>
</div>

<div class="open--tinted container">
  <h3 class="container__header">Contact</h3>
</div>