<div class="container top">
  <h1>Ted Whang</h1>
  <p>Full-stack Software Engineer</p>
  <p>Seattle, WA</p>

  <button type="button" class="blue-button">
    <p>View Resume</p>
  </button>

</div>
<div class="container bottom">
  <h3>Site under heavy construction...</h3>
</div>
