<div class="header-container black-overlay">
  <img src="<%= image_url('main_desk_shot.jpg') %>" alt="" class="header-image">
  <div class="header-text root-header">
    <h2></h2>
    <h2></h2>
  </div>
</div>
<div class="body-container">
  <div class="body-section">
    <h2>A Short Bio</h2>
    <p>A full stack web developer whose interests have progressively leaned toward the front-end. I’m in my element when I’m collaborating in a team to address the most important element in any project, an <strong>excellent user experience</strong>.</p>

    <a class="black-link" href="/about">Learn More About Me</a>
  </div>
  <div class="dark-body-section">
    <div class="dark-body-text">
      <h2>Test early, test often...</h2>
      <p>Through diligent qualitative and quantitative testing, you don’t have to guess what is working and what is not.</p>

      <p>I’m obsessive about repeating what’s successful and removing what’s not.</p>
      <a href="/resume" class="black-link">Resume</a>
      <a href="/contact" class="black-link">Contact</a>
    </div>
  </div>
  <div class="body-section">
    <h2>Write, write, write</h2>
    <p><em>Either write something worth reading or do something worth writing.</em></p>
    <p><em>-Benjamin Franklin</em></p>
    <p>Writing used be something that I would when I needed a place to dump my thoughts.</p>

    <p>But after finding out thousands of people have benefited from my writings, I began to understand the impact that writing can have.</p>
    <a href="/blog" class="black-link">Blog</a>
  </div>
</div>
<%= javascript_include_tag "typing_animation" %>
