<div class="header-container">
  <img src="<%= image_url('subway.jpg') %>" alt="" class="header-image">
  <div class="header-text">
    <h2>RESUME</h2>
  </div>
</div>
<div class="body-container">
</div>