<div class="resume-container">
  <div class="header-container black-overlay">
    <img src="<%= image_url('subway.jpg') %>" alt="" class="header-image">
    <div class="header-text single-line">
      <h2></h2>
    </div>
  </div>
  <div class="row body-section">
    <div class="col-sm-5 col-sm-offset-1">
      <h4>TECHNOLOGIES</h4>
    </div>
    <div class="col-sm-6">
      <p>HTML5 / CSS3 / jQuery<p>
      <p>LESS / SASS / HAML / Coffeescript<p>
      <p>Javascript / Ruby<p>
      <p>MySQL / PostgreSQL / MongoDB / Redis<p>
      <p>Angular / Backbone / Marionette / Ruby on Rails<p>
      <p>Git, Github<p>
      <p>Mixpanel / Google Analytics</p>
    </div>
  </div>
  <div class="row body-section">
    <div class="col-sm-5 col-sm-offset-1">
      <h4>WORK EXPERIENCE</h4>
    </div>
    <div class="col-sm-6">
      <p><strong>Full-Stack Software Engineer, Mazlo</strong></p>
      <p>Aug 2014 - Current</p>
    </div>
  </div>
  <div class="row body-section">
    <div class="col-sm-5 col-sm-offset-1">
      <h4>EDUCATION</h4>
    </div>
    <div class="col-sm-6">
      <p><strong>General Assembly</strong></p>
      <p>User Experience Design, Jan 2016</p>

      <p><strong>Coding Dojo</strong></p>
      <p>Web Development, May 2014</p>

      <p><strong>University of Washington - Seattle</strong></p>
      <p>B. S. Psychology, Jun 2012</p>
    </div>
  </div>
  <div class="row button-container">
    <a class="black-link" href="/Whang,%20Ted%20-%20Technical%20Resume.pdf" download>Download PDF</a>
  </div>
</div>
<%= javascript_include_tag "typing_animation" %>
