$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

.error {
  color: red;
  margin: 0;
  margin-left: 4px;
  position: absolute;
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 80%
}

.sender-email, .email-body {
  margin-top: 20px;
}

.modal-body {
  padding-bottom: 24px;
}

.show-modal-button {
  position: fixed;
  bottom: 1%;
  left: 5%;

  @media screen and (min-width: $tablet-width) {
    left: 20%;
  }
}
