@import "variables/colors"
@import "variables/dimensions"

.projects
  bottom: 0
  left: 0
  right: 0
  display: flex
  flex-direction: column

  &__selection
    display: flex

  &__details
    display: flex
