@import 'variables/colors'
@import 'variables/dimensions'

.resume-container
  .body-section
    padding-top: 48px
    padding-bottom: 48px
    border-bottom: 2px solid $gray
    margin: 0 auto
    width: 90%
    @media screen and (min-width: $tablet-width)
      max-width: 768px

  h4
    margin: 0
    margin-bottom: 24px
