@import "variables/colors"
@import "variables/dimensions"

#main
  background-image: image-url('building.jpg')
  background-attachment: fixed
  background-size: 100% 100%
  height: 100%
  margin: 0 auto
  max-width: 640px
  min-height: 100vh

.container
  border-bottom: 1px solid $black
  height: 100%
  padding: 3rem 6rem
  width: 100%
  min-height: 40rem

  &__header
    margin-bottom: 3rem
    text-align: right

  &__content-row
    display: flex
    margin-bottom: 3rem

  &__content-column
    &--large
      width: 60%

    &--small
      width: 40%

  &__image
    display: block
    margin: 1.5rem auto

    &--mazlo
      width: 14rem

    &--washington
      width: 10rem

    &--coding-dojo
      width: 14rem

    &--svc
      width: 10rem

.text-container
  background-color: $blue
  display: inline-block
  opacity: 0.7
  padding: 1rem 2rem
  position: absolute

  &__left
    padding-right: 10rem
    bottom: 2rem

  &__right
    padding-left: 10rem
    text-align: right
    top: 2rem
    right: 2rem

  h6
    margin: 0.2rem 0

.open
  position: relative

  &--tinted
    background-color: $blue
    opacity: 0.7

.covered
  background-color: $white
  display: flex
  flex-direction: column
