@import "variables/colors"
@import "variables/dimensions"

#main
  margin: 0 auto
  max-width: 768px
  min-height: 100vh
  overflow: hidden
  position: relative

  .image-wrapper
    width: 768px
    height: 100vh
    overflow: hidden
    position: fixed

.triangle
  height: 6rem
  position: absolute
  width: 50%

  +media-mobile
    height: 12rem

  +media-tablet
    height: 14rem

  &__bottom
    bottom: 0
    right: 0

    &--black
      background: linear-gradient(to left top, rgba(0, 0, 0, 0.7) 50%, transparent 50%)

    &--gray
      background: linear-gradient(to left top, rgba(192, 192, 192, 0.7) 50%, transparent 50%)

  &__top
    top: 0
    left: 0

    &--black
      background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7) 50%, transparent 50%)

    &--gray
      background: linear-gradient(to right bottom, rgba(192, 192, 192, 0.7) 50%, transparent 50%)

.container
  height: 100%
  min-height: 35rem
  padding: 6rem 1rem
  position: relative
  width: 100%
  
  +media-mobile
    padding: 8rem 3rem
    min-height: 45rem

  +media-tablet
    padding: 12rem 6rem
    min-height: 50rem

  &__header
    margin-bottom: 6rem
    margin-left: 8%
    text-align: center

    +media-mobile
      margin-left: 15%

    +media-tablet
      margin-left: 8.5%

  &__text
    align-self: baseline
    margin-bottom: 0

    h1
      margin-bottom: 5%
      +media-tablet
        margin-bottom: 7%

  &__content-row
    display: flex
    margin-left: 5%
    margin-bottom: 3rem

    +media-mobile
      margin-left: 10%

    +media-tablet
      align-items: flex-start
      margin: 0
      flex-direction: row

    &--contact
      margin-left: 8%

    +media-mobile
      margin-left: 15%

    +media-tablet
      margin-left: 8.5%

  &__content-column
    &--large
      width: 70%
      +media-tablet
        width: 60%

    &--small
      width: 30%
      +media-tablet
        width: 40%

    &--center
      display: flex
      flex-direction: column
      justify-content: center
      text-align: center
      width: 100%

  &__image
    display: block
    margin: 1.5rem auto

    &--mazlo
      width: 8rem
      +media-mobile
        width: 10rem
        +media-tablet
          width: 14rem

    &--washington
      width: 4rem
      +media-mobile
        width: 6rem
      +media-tablet
        width: 10rem

    &--coding-dojo
      width: 8rem
      +media-mobile
        width: 10rem
      +media-tablet
        width: 14rem

    &--svc
      width: 4rem
      +media-mobile
        width: 6rem
      +media-tablet
        width: 10rem

.text-container
  background-color: $blue
  display: inline-block
  opacity: 0.7
  padding: 1rem 2rem
  position: absolute

  &__left
    padding: 1rem 1.5rem
    padding-right: 5rem
    bottom: 1rem

    +media-mobile
      padding-right: 8rem
      bottom: 2rem

    +media-tablet
      padding: 1rem 2rem
      padding-right: 10rem
      bottom: 6rem

    h3
      margin: 10px 0
      +media-tablet
        margin-top: 20px

  &__right
    padding-left: 8rem
    text-align: right
    top: 6rem
    right: 6rem

    h3
      margin-top: 10px
      margin-bottom: 20px

  h6
    margin: 0.2rem 0

.open
  &--tinted
    background-color: $blue
    display: flex
    flex-direction: column
    justify-content: flex-end
    opacity: 0.7
    padding-bottom: 6rem
    min-height: 30rem

    +media-mobile
      min-height: 35rem

    +media-tablet
      min-height: 40rem

.covered
  background-color: $white
  display: flex
  flex-direction: column

.projects
  bottom: 0
  left: 0
  right: 0
  display: flex
  position: absolute
  width: 100%

  &__item
    align-items: center
    background: $black
    border-left: 1px solid $white
    border-right: 1px solid $white
    display: flex
    height: 9rem
    justify-content: center
    opacity: 0.7
    width: 33.3333%

    +media-mobile
      height: 14rem

  &__image
    max-width: 70%

    &--ralli
      width: 140px

    &--mazlo
      width: 160px

    &--muzik
      width: 200px
    