// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

#content {
  margin-top: 5rem;
}

.icons {
  font-size: 24px;
}

.header-text {
  color: white;
  text-shadow: 2px 2px black;
  position: absolute;
  top: 12rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $desktop-width) {
    top: 14rem;
  }
}

.body-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 35rem;
}

.header-container {
  position: relative;

  .header-image {
    background-image: image-url('computer_mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;

    @media screen and (min-width: $tablet-width) {
      background-image: image-url('computer.jpg');
    }
  }

  .header-text {
    top: 9rem;
    padding: 0 5%;
    text-align: left;

    @media screen and (min-width: $tablet-width) {
      padding: 0 20%;
    }
  }
}

.header-body-container {
  padding: 0 5%;
  padding-bottom: 5rem;

  @media screen and (min-width: $tablet-width) {
    padding: 0 20%;
    padding-bottom: 5rem;
  }

  img {
    width: 100%;
  }
}

.body-inner-container {
  margin: 5rem 5%;
  @media screen and (min-width: $tablet-width) {
    margin: 5rem 20%;
  }
  
  text-align: justify;
}
